.button{
    color: white !important;
}

.sup-box {

    border-radius: 10px;
    background-color:  rgb(246, 247, 248) ;
    box-shadow: 1px 5px 10px rgb(214, 213, 213);
}

.sup-box:hover {
    box-shadow: 3px 8px 10px rgb(214, 213, 213);
}