@media((min-width:50px) and (max-width:500px)) {
    .award {
        align-items: center;
    }

    .imgbox {
        width: 100%;
        padding: 0px !important;
        margin-bottom: 15px !important;
    }

    .imgbox img {
        width: 100%;
    }

    .awardItem {
        width: 100%;
        padding: 0px !important;
    }
}