.logo{
    /* margin-right: 500px; */
    margin-left: 80px;
    color: #1976d2 !important;
    display: flex;
    align-items: center;
    
}
 
.logo:hover {
  color:#1976d2;;
}

.logo h5 {
    padding: 2px;
}

/* .logo h5:hover {
      background-color: rgb(246, 247, 248);
      border-radius: 10px;
} */

.navbar {
    background-color: white;
    height: 3rem;
    padding-top: 2rem;
    box-shadow: 1px 1px 10px rgb(194, 192, 192);
    display: flex;
}

.nav-link {
    color:black;
    font-weight: 500;
}

.nav-link:hover{
    color: #1976d2;
    background-color: rgb(233, 242, 251);
    border-radius: 10px;
}
.navbtn{
    display: flex;
}